.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 25px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.flex-container:nth-child(odd) {
  margin: 0 0 0 5px;
}

.flex-container:nth-child(even) {
  margin: 0 5px 0 0;
}

.owner {
  display: flex;
}

.owner > h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
}
.post-info {
  margin-left: 15px;
}

.post-info > div {
  display: flex;
  flex-direction: row;
}

.post-image {
  object-fit: contain;
  max-width: 100%;
  height: 300px;
}

.image-subtext {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.tagbar {
  display: flex;
  flex-wrap: wrap;
}

.tagbar > p {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.top {
  padding: 20px;
  text-transform: uppercase;
  color: #000;
  text-shadow: #c0c0c0 1px 0 5px;
  background-color: transparent;
  border: #000 1px solid;
  border-radius: 5px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  outline: none;
}

.top:hover {
  color: #fff;
}

.top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #000;
  z-index: -1;
  transition: 0.8s;
  border-radius: 50% 50% 0 0;
}

.top:hover::before {
  height: 180%;
}
