.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  color: #878b8b;
}

.dropdown-content {
  z-index: 1;
  border-radius: 5px;
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  animation: slide-down 0.5s ease-out;
  display: block;
}

.grid-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 675px) {
  .dropdown-content {
    min-width: 100%;
    position: fixed;
    left: 0;
  }
}
